*.REL
*.OBJ
*.SYM
MAKE$$$$.BAT
*.COM
SRC/CHARSET0.BIN
SRC/CHARSET1.BIN
SRC/FONT.ASM
SRC/FONTSPR.ASM
SRC/HEIGHT0.BIN
SRC/HEIGHT1.BIN
SRC/LEVELDEF.BIN
SRC/LEVELDEF.INC
SRC/MAP0.BIN
SRC/MAP1.BIN
SRC/MAP2.BIN
SRC/MAP3.BIN
SRC/PALETE.ASM
SRC/PATSET0.BIN
SRC/PATSET1.BIN
SRC/XXDATA.$$$
SRC/XXPROG.$$$
